Source: libplack-middleware-proxy-requests-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Piotr Roszatycki <dexter@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libplack-app-proxy-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Plack-Middleware-Proxy-Requests
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libplack-middleware-proxy-requests-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libplack-middleware-proxy-requests-perl.git

Package: libplack-middleware-proxy-requests-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Recommends: twiggy | starman | starlet,
            libplack-middleware-cache-perl
Description: Plack::Middleware::Proxy::Requests - forward proxy server
 Plack::Middleware::Proxy::Requests handles HTTP requests as a forward proxy
 server.
 .
 Its job is to set a plack.proxy.url environment variable based on REQUEST_URI
 variable.
 .
 With this middleware it is possible to start the simplest standalone proxy
 server from the command line:
 .
   twiggy -MPlack::App::Proxy -e \
   'enable q{Proxy::Requests}; Plack::App::Proxy->new->to_app'
 .
 The default server Plack::Server::PSGI alias Standalone can hang up on stalled
 connection. It is better to run proxy server with Starlet, Starman or Twiggy.
